@page "/temp_humi" 

<h3>temp_humi</h3>
<br/>
<span>@current</span> &nbsp;
<button @onclick = "update">새로고침</button>

@code {
    string current = Dht11.getData() ;

    @* List<string> myData = new List<string>() ; *@
    void update()
    {
        current = Dht11.getData() ;

        @* current = myData.getRange(4) ; *@

        @* foreach(var data in myData)
        {
            current += data ;
        } *@
    }    
}
