@page "/myhome"

<h3>MyHome</h3>

<h5>@tempHumi</h5>
<button @onclick="update">새로고침</button>
<br>
<button>조명 켜기</button>
<button>조명 끄기</button>


@code {
    string tempHumi = "현재시간 " + DateTime.Now + " " + Arduino.getTempHumi() ;

    void update()
    {
        tempHumi = "현재시간 " + DateTime.Now + " " + Arduino.getTempHumi() ;
    }

}
